h1 {
  background-color: bisque;
  color: blueviolet
  text-align: center;
}

.one {
  border-style: solid;
  border-color: aquamarine red yellow green;
}
.container{background-color: blueviolet;
            

}
.content{
    display: inline-block;
    background-color: blue; 
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        margin-top: 10px;
        color: azure;
          width: 200px; ;
        margin-bottom:20px ;
        padding: 20px 20px 30px 20px ;
       height: 400px;
       
        
}










